.header{
  width: 50%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 50%;
  height: 175px;
  position: absolute;
  background: black;
}
.header-slogan{
  font-size: 2.5vw;
  padding: 4%;
  position: absolute;
  margin-left: 10%;
  margin-top: 2%;
  font-family: 'Handlee', cursive;
  color: white;
  font-weight: 700;
  transition: .3s ease-in-out;
}
.header-slogan:hover{
  color: #adbce6;
}
