.footer{
  position: absolute;
  background: black;
  height: 120px;
  width: 100%;
  bottom: 0;
  right: 0;

}
.footer-desc{
  color: white;
}
.company-name{
  margin-left: 2%;
}
.company-mission{
  font-size: 10px;
}
.social-media-btn{
  padding: .5%;
}
