.main-title{
  font-size: 4.5vw;
  position: absolute;
  margin-left: 7%;
  margin-top: 0.5%;
  width: 30%;
  border: 1px solid black;
  padding: 3.5%;
  transition: .25s ease-in-out;
}
.main-title:hover{
  background: #adbce6
}
.title-emblem{
  position: absolute;
  margin-left: 12%;
  margin-top: -2.5%;
  font-size:  6vw;
}
